header {
    background: #190933;
    color: #8d86c9;
    height: 10vh;
}

header a {
    color: #8d86c9 !important;
    font-size: 1.5rem !important;
}

a:hover {
    color: #f7ece1 !important;
}

.active {
    background-color: #8d86c9;
    color: #190933 !important;
    border-radius: 5%;
}

main {
    color: #190933;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 10vh;
}

p {
    margin: 2% !important;
}

#devPicture {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

.card {
    width: 30vw;
}

input {
    width: 50vw !important;
}

#form {
    margin-top: 10vh !important;
}

#resume {
    display: block;
    margin: 2% !important;
}

footer {
    background: #190933;
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

footer a {
    color: #8d86c9 !important;
    font-size: 1.5rem !important;
}

@media screen and (max-width: 1168px) {
    .card {
        width: 44vw;
    }
}

@media screen and (max-width: 832px) {
    .card {
        width: 80vw;
    }
}